/* Dark Mode */
body.dark {
  background-color: #000000;
  color: #f8fafc;
}

.App.dark header h1 {
  color: #f8fafc;
}

.App.dark .input-field {
  background-color: #1c1c1c;
  color: #f8fafc;
}

.App.dark tbody tr:hover {
  background-color: #4a4c4e;
}
